---

---

<section
    id="contact"
    class="flex overflow-hidden lg:overflow-visible flex-col lg:flex-row justify-between items-center gap-10 py-0 lg:pl-15"
>
    <div class="reveal lg:w-[540px] flex flex-col gap-6 px-10">
        <div
            class="text-6xl lg:text-7xl font-[Bebas_Neue] font-normal text-(--text-1)"
        >
            ¿Quieres colaborar con nosotros?
        </div>
        <div class="text-(--text-2) text-[20px] lg:text-2xl">
            ¡Envíanos un mensaje y nos pondremos en contacto contigo!
        </div>
    </div>
    <form
        class="reveal bg-(--bg-4) px-10 py-15 lg:p-15 lg:pr-7 lg:rounded-l-4xl flex flex-col w-full lg:w-auto
               gap-10 text-white text-2xl drop-shadow-2xl drop-shadow-black"
    >
        <span class="text-6xl font-[Bebas_Neue] font-normal mb-2"
            >Contáctanos</span
        >
        <div class="flex flex-col">
            <label class="font-[Bebas_Neue] font-normal" for="name"
                >Nombre</label
            >
            <input
                class="placeholder-(--placeholder) text-white lg:w-[607px] bg-(--bg-3) h-12 px-6 rounded-lg mt-4 text-[16px] focus:outline-none"
                type="text"
                id="name"
                name="name"
                placeholder="Ingresa tu nombre"
            />
        </div>
        <div class="flex flex-col">
            <label class="font-[Bebas_Neue] font-normal" for="email"
                >Correo Electrónico</label
            >
            <input
                class="placeholder-(--placeholder) text-white lg:w-[607px] bg-(--bg-3) h-12 px-6 rounded-lg mt-4 text-[16px] focus:outline-none"
                type="email"
                id="email"
                name="email"
                placeholder="Ingresa tu nombre"
            />
        </div>
        <div class="flex flex-col">
            <label class="font-[Bebas_Neue] font-normal" for="message"
                >Mensaje</label
            >
            <textarea
                class="placeholder-(--placeholder) text-white lg:w-[607px] bg-(--bg-3) py-4 px-6 rounded-lg mt-4 text-[16px] focus:outline-none"
                id="message"
                name="message"
                rows="3"
                placeholder="Ingresa tu nombre"></textarea>
        </div>
        <button
            id="send-button"
            class="bg-(--bg-2) hover:cursor-pointer text-[20px] text-(--text-1) h-12 rounded-lg font-[Bebas_Neue] font-normal text-2xl"
            >Enviar</button
        >
    </form>
</section>

<script>
    window.addEventListener("DOMContentLoaded", () => {
        const sendBtn = document.getElementById(
            "send-button",
        ) as HTMLButtonElement;
        if (!sendBtn) return;

        sendBtn.addEventListener("click", (e) => {
            e.preventDefault();

            sendBtn.disabled = true;
            sendBtn.innerText = "Enviando...";

            const nameInput = document.getElementById(
                "name",
            ) as HTMLInputElement;
            const emailInput = document.getElementById(
                "email",
            ) as HTMLInputElement;
            const messageInput = document.getElementById(
                "message",
            ) as HTMLInputElement;

            if (!nameInput || !emailInput || !messageInput) return;

            fetch("http://localhost:3000/contact", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    name: nameInput.value,
                    email: emailInput.value,
                    message: messageInput.value,
                }),
            })
                .then((response) => {
                    if (response.ok) {
                        sendBtn.disabled = false;
                        sendBtn.innerText = "Enviado ✔";
                        setTimeout(() => {
                            sendBtn.innerText = "Enviar";
                        }, 3000);
                        nameInput.value = "";
                        emailInput.value = "";
                        messageInput.value = "";
                    } else {
                        alert("Error al enviar el mensaje.");
                    }
                })
                .catch((error) => {
                    console.error("Error:", error);
                    alert("Error al enviar el mensaje.");
                });
        });
    });
</script>
