---
import Decoration from "./Circle.astro";
import { SOCIAL_LINKS } from "../consts.ts";
---

<section
    class="py-50 relative h-[854px] box-content overflow-hidden lg:overflow-visible"
>
    <div class="w-full -z-10">
        <Decoration
            class="absolute ml-[50%] w-[854px] translate-x-[-50%]"
            height="100%"
        />
    </div>
    <section
        class="absolute px-10 text-center w-full lg:ml-[50%] lg:w-[854px]
               lg:translate-x-[-50%] flex flex-col items-center gap-14 py-55 md:py-70"
    >
        <span
            class="reveal text-(--text-1) font-[Bebas_Neue] font-normal text-6xl lg:text-7xl"
            >Únete a nuestra comunidad</span
        >
        <ul
            class="reveal gap-8 grid grid-cols-2 md:flex md:flex-row
                       sm:justify-center"
        >
            {
                SOCIAL_LINKS.map((social) => (
                    <li>
                        <a
                            href={social.href}
                            target="_blank"
                            rel="noopener noreferrer"
                            class="p-7 bg-(--bg-1) rounded-4xl block "
                        >
                            <social.icon width="58px" height="58px" />
                        </a>
                    </li>
                ))
            }
        </ul>
    </section>
</section>
