---
import Logo from "../assets/logo.svg";
import {
    NAVIGATION_LINKS,
    DISCORD_INVITE_URL,
    YOUTUBE_URL,
    TWITTER_URL,
    INSTAGRAM_URL,
    SOCIAL_LINKS,
} from "../consts.ts";
---

<footer
    class="flex flex-col justify-between bg-(--bg-2) p-10 md:p-16 text-(--text-1) w-screen left-0 absolute"
>
    <div class="max-w-[1980px] mx-auto w-full">
        <section
            class="mb-6 border-b border-(--border) pb-10 md:pb-16 text-(--logo)"
        >
            <a href="/"><Logo width="58px" height="58px" /></a>
        </section>
        <section
            class="flex flex-col lg:flex-row justify-between gap-10 lg:gap-0 text-sm md:text-lg"
        >
            <div>
                <span
                    class="mb-4 flex justify-start font-[Bebas_Neue] font-normal text-xl md:text-2xl"
                    >Enlaces</span
                >
                <ul class="flex flex-row justify-between md:gap-9">
                    {
                        NAVIGATION_LINKS.map((item) => (
                            <li>
                                <a href={item.href} class="hover:underline">
                                    {item.name}
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </div>
            <div>
                <span
                    class="mb-4 flex justify-start lg:justify-end font-[Bebas_Neue] font-normal text-xl md:text-2xl"
                    >Redes Sociales</span
                >
                <ul class="flex flex-row justify-between md:gap-9">
                    {
                        SOCIAL_LINKS.map((item) => (
                            <li>
                                <a href={item.href} class="hover:underline">
                                    {item.name}
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </div>
        </section>
    </div>
</footer>
