---

---

<section
    class="flex flex-col w-full gap-6 items-center py-70 pl-15 text-3xl text-(--text-2)"
>
    <div class="absolute -mt-25 w-[150%] h-[500px] bg-[#1997FA] -rotate-2">
    </div>
    <div class="reveal w-[906px] text-center font-bold text-5xl">
        Un lugar para aprender, crecer y conectar.
    </div>
    <div class="reveal w-[906px] text-center">
        Aquí encontrarás un espacio para compartir conocimientos, acceder a
        recursos valiosos, participar en eventos y relacionarte con personas que
        comparten tus intereses. No importa si estás comenzando o ya sos un
        profesional: siempre hay algo para aportar y algo para descubrir.
    </div>
</section>
